@using DatabaseCourse.CDMS.WebUi.Classes
@using DatabaseCourse.Common.Enums
@using DatabaseCourse.Common.Utility.EnumUtility
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    @{ 
        var tit = ThisApp.PageTitle.TrimEnd();
        var desc = ThisApp.PageDesctiption.TrimEnd();
        var title = tit;
        if (tit != desc)
        {
            title += $" - {desc}";
        }
    }
    <title>@title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/Content/css/plugins/timeline.css" rel="stylesheet">
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/Content/css/plugins/morris.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="~/Content/js/jquery/jquery.min.js"></script>
    <script src="~/Content/js/jquery/jquery-ui.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/sb-admin-2.js"></script>

</head>
<body>


    <div id="Loading">
        <div id="loader"></div>
        <p class="center-block text-center" style="color: antiquewhite; font-size: 20px;padding: 20px">منتظر بمانید</p>
    </div>

    @{
        if (ThisApp.AccessDenied == null && ThisApp.InnerAccessDenied == null)
        {
            <div id="wrapper">
                @{
                    var username = ThisApp.CurrentUser?.Username ?? "";
                }
                <!-- Navigation -->
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- /.navbar-header -->

                    <ul class="nav navbar-top-links navbar-right">
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user"></i> سلام @username <small class="fa fa-caret-down"></small>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="../User/ResetPassword?id=@Html.Raw(ThisApp.CurrentUser?.Id??0)"><i class="fa fa-gear fa-fw"></i> تغییر رمزعبور</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="../Login/Logout"><i class="fa fa-sign-out fa-fw"></i>خروج</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                    </ul>

                    <!-- /.navbar-top-links -->

                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav navbar-collapse">
                            <ul class="nav" id="side-menu" style="padding-top: 90px;">
                                @{if (ThisApp.MenuItems != null)
                                    {
                                        foreach (var item in ThisApp.MenuItems)
                                        {
                                            <li title="@item.MenuDescription">
                                                @{
                                                    var hasSubItem = item.ChildMenuList.Count > 0;
                                                    <a class="@Html.Raw((item.MenuTitle == ThisApp.PageTitle) ? "active" : "")" href="../@item.MenuUrl">
                                                        <i class="fa fa-@item.MenuIcon fa-fw"></i> @item.MenuTitle @Html.Raw((hasSubItem) ? @"<span class='fa arrow'>" : "")
                                                    </a>
                                                    if (hasSubItem)
                                                    {
                                                        <ul class="nav nav-second-level">
                                                            @{
                                                                foreach (var sub in item.ChildMenuList)
                                                                {
                                                                    <li title="@sub.MenuDescription">
                                                                        <a class="@Html.Raw((item.MenuTitle == ThisApp.PageTitle) ? "active" : "")" href="@sub.MenuUrl">@sub.MenuTitle</a>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                                }
                                                }
                                            </li>
                                                                    }
                                                                }
                                }
                            </ul>

                        </div>
                        <!-- /.sidebar-collapse -->
                    </div>
                    <!-- /.navbar-static-side -->
                </nav>
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">@ThisApp.PageTitle</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    @RenderBody()
                </div>
                <!-- /#page-wrapper -->
            </div>
                                                                }
                                                                else
                                                                {
                                                                    if (ThisApp.AccessDeniedType == AccessDeniedType.NotLogined)
                                                                    {
                                                                        Response.Redirect("/Login/Index");
                                                                    }
                                                                    else
                                                                    {
                                                                        Response.Redirect("/Error");
                                                                    }
                                                                }
    }

    
</body>
</html>
