@using System.ServiceModel.Channels
@using DatabaseCourse.CDMS.WebUi.Classes
@using DatabaseCourse.Common.Enums
@using DatabaseCourse.Common.Utility
@using DatabaseCourse.Common.Utility.EnumUtility
@using DatabaseCourse.CDMS.Business.BusinessLogic
@using DatabaseCourse.Common.Classes

@{
    //Default/Index
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var projectBll = new ProjectBll();
    int allProjCount = 0;
    int nonTerminateProjCount = 0;
    bool isUserSupervisor = false;
    if (ThisApp.CurrentUser != null)
    {
        isUserSupervisor = ThisApp.CurrentUser.UserRoles.Any(x => x == UserRoleEnum.Supervisor);
        allProjCount = isUserSupervisor ? projectBll.GetCountOfAllProjectsByUserId(ThisApp.CurrentUser.Id) : projectBll.GetCountOfAllProjects();
        nonTerminateProjCount = isUserSupervisor ? projectBll.GetNonTerminateCountOfAllProjectsByUserId(ThisApp.CurrentUser.Id) : projectBll.GetCountOfAllNonTerminateProjects();
    }
}
@if (ThisApp.CurrentUser != null)
{
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <div class="huge">@allProjCount</div>
                                <div>تعداد کل پروژه‌@Html.Raw(isUserSupervisor ? "های شما" : "")</div>
                            </div>
                        </div>
                    </div>
                    <a href="../Project/Index">
                        <div class="panel-footer">
                            <span class="pull-left">بیشتر...</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-wrench fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <div class="huge">@nonTerminateProjCount</div>
                                <div>تعداد پروژه‌های تمام نشده‌@Html.Raw(isUserSupervisor ? "ی شما" : "")</div>
                            </div>
                        </div>
                    </div>
                    <a href="../Project/Index">
                        <div class="panel-footer">
                            <span class="pull-left">بیشتر...</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="fa fa-user"></span>
                    اطلاعات کاربری
                </div>
                <div class="panel-body">
                    @{
                        var currentUsser = ThisApp.CurrentUser;

                    <table class="profile-info">
                        <tr>
                            <td>نام :</td>
                            <td> @Html.Raw($"{currentUsser?.FirstName ?? ""} {currentUsser?.LastName ?? ""}")</td>
                        </tr>
                        <tr>
                            <td>نام کاربری : </td>
                            <td>@Html.Raw(currentUsser?.Username ?? "")</td>
                        </tr>
                        <tr>
                            <td valign="top">نقش‌ کاربری : </td>
                            <td>
                                <ul>
                                    @foreach (var role in currentUsser?.UserRoles)
                                        {
                                        <li>@EnumUtility.GetEnumDescription(role)</li>
                                        }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @{
                                        var userBll = new UserBll(ThisApp.CurrentUser);
                                        var lmu = userBll.GetUserInfoById(currentUsser?.LastModifyUser ?? 0);
                                }
                                <small style="font-size: 9px;">
                                    <i>

                                        @{var lmUser = "";
                                                if (lmu?.Username != null)
                                                {
                                                    lmUser = $"کاربر {lmu?.Username} ";
                                                }
                                                else
                                                {
                                                    lmUser = "سیستم";
                                                }}
                                        @Html.Raw($"آخرین تغییرات در تاریخ {DateTimeUtility.ConvertToPersianCalender(currentUsser?.LastModifyDate ?? DateTime.MinValue)} " +
                                                      $"توسط {lmUser}")
                                    </i>
                                </small>
                            </td>
                        </tr>
                    </table>
                    }
                </div>
            </div>
        </div>
    </div>
                                            }
